 body{
 font-family: Arial, Verdana, sans-serif ;
 font size: 12px;
 font color: black;
 }
 hr.new1 {
  border-top: 1px dashed red;
}

/*---------------------------------------------------------------------------*/

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content_one"
    "section_content"
    "sidebar"
    "footer";
}

 .main-head {
    background: #44DA30; /*black header*/
    color: black;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
 }

 .section_about {
  background:  #30CEBD;
     color: white;
     border: 3px solid black;
     padding: 5px;
     overflow: auto;
  }

  .main-nav{background: #1B8016;
     border: 1px solid black;
     padding: 5px;
   }


 .content_about{
  display: none;
 }
 .sidebar{
    display: none;
  }
  .main-footer {text-align: center;
     border: 1px solid black;
     padding: 5px;
     background: #30CEBD;
     color: white;
  }



   nav ul {
    display: flex; /*This defines a flex container - only declared once*/
    justify-content: space-between;
  }
/*---------------------------------------------------------------------------*/
@media only screen and (min-width: 576px) { /*The min width of screen has to be px for this style to take effect*/
  .wrapper {
    grid-template-columns: 1fr 3fr; /*fr = fraction*/
    grid-template-areas:
      "header  header"
      "nav nav"
      "section_about section_about"
      "sidebar sidebar"
      "footer      footer";
  }


  nav ul {
    justify-content: space-between;
  }


   .main-head{
    background: #22E618;
    color: black;
  }
 
  /*---------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px)/*The min width of screen has to be 768 px for this style to take effect*/ {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header  header header"
     "nav nav nav"
     "content_about content_about content_about"
     "section_about section_about section_about"
     "footer  footer footer";
  }

  nav ul {
    justify-content: space-between;
  }

   .main-head{background: #17F60C
   } 
   .content_about{
    display: inherit;
  }
  
}

/*---------------------------------------------------------------------------*/

@media only screen and (min-width: 1024px) /*and (max-width: 1023px)*/ {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav content_about content_about"
      "sidebar section_about section_about"
      "footer footer  footer";
  }

  nav ul {
    flex-direction: column;
  }

  .main-head{background:  #17D80E; /*light blue*/
    color: black;
  }
  .content_about{
    display: inherit;
  }

  .sidebar{
    display: inherit;
  }
}

/*---------------------------------------------------------------------------*/


 .main-head {
     grid-area: header;
     text-align: center;
     border: 2px solid black;
     padding: 5px;
}
 .content_about {
     grid-area: content_about;
     background:  #30CEBD;
     color: white;
     border: 3px solid black;
     padding: 5px;
}
 .section_about {
     grid-area: section_about;
     background:  #30CEBD;
     color: white;
     border: 3px solid black;
     padding: 5px;
     overflow: auto;
}
 .main-nav {
     grid-area: nav;
     background: #1B8016;
     border: 1px solid black;
     padding: 5px;
   }

 .sidebar {
     grid-area: sidebar;
     border: 2px solid black;
     padding: 5px;
}

 .main-footer {
     grid-area: footer;
     text-align: center;
     border: 1px solid black;
     padding: 5px;
     background: #30CEBD;
     color: white;
}


