 body{
 font-family: Arial, Verdana, sans-serif ;
 font size: 12px;
 font color: black;

 }

/*---------------------------------------------------------------------------*/

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "section"
    "article"
    "sidebar"
    "second_sidebar"
    "ad"
    "footer";
}
 .main-head {
    background: #44DA30; /*green header*/
    color: black;
 }

 .main-nav {
  background: #1B8016;
  color: black;
 }

 .section_content {
  background:  #30CEBD; /*light green*/
  color: white;
 }

 .content_one {
  background:  #30CEBD;
  color: white;
 }

 .ad {
  background: #1B8016;
  color: white;
 }

 .sidebar {
  background: #1B8016;
  color: white;
  width: 200px;
  display: none;
 }

   nav ul {
    display: flex; /*This defines a flex container - only declared once*/
    justify-content: space-between;
  }

/*---------------------------------------------------------------------------*/

@media only screen and (min-width: 576px) { /*The min width of screen has to be px for this style to take effect*/
  .wrapper {
    grid-template-columns: 1fr 3fr; /*fr = fraction*/
    grid-template-areas:
      "header  header"
      "nav     nav"
      "section article"
      "sidebar second_sidebar"
      "ad     footer";
  }


  nav ul {
    justify-content: space-between;
  }

  .sidebar {
    display: inherit;
  }
}


/*---------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px)/* Display when on tablet device*/ {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    nav nav "
      "section section sidebar"
      "second_sidebar    article ad"
        "footer footer  footer";
  }

  nav ul {
   justify-content: space-between;
  }
}
/*---------------------------------------------------------------------------*/

@media only screen and (min-width: 1024px)  {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    section sidebar"
      "second_sidebar    article ad"
      "second_sidebar footer  ad";
  }

  nav ul {
    flex-direction: column;
  }


}

/*---------------------------------------------------------------------------*/


 .main-head {
     grid-area: header;
     text-align: center;
     border: 3px solid black;
     padding: 3px;
     background: #44DA30; /*green*/
     color: black;
}
 .section_content {
     grid-area: section;
     border: 3px solid black;
     padding: 5px;
}
 .content_one {
     grid-area: article;
     border: 3px solid black;
     padding: 5px;
}
 .main-nav {
     grid-area: nav;
     border: 3px solid black;
     padding: 5px;
}
 .sidebar {
     grid-area: sidebar;
     border: 3px solid black;
     padding: 5px;
}
 .ad {
     grid-area: ad;
     border: 3px solid black;
     padding: 5px;
}
 .main-footer {
     grid-area: footer;
     text-align: center;
     background: #1B8016;
     color: white;
     border: 3px solid black;
     padding: 5px;
}
 .second_sidebar{
     grid-area: second_sidebar;
     text-align: center;
     background: #1B8016;
     color: white;
     border: 3px solid black;
     padding: 5px;
}

?

