/*set padding and margin for elements*/
.parent * {
	padding: 5px;
	margin: 6px;
	width: 960px;
}

li{
	display: inline;
	margin-right: 10px;
}

/*list the bullets to sqaures*/
.right-column ul {
	list-style-type: square;
}

.right-column li {
	display: block;
	list-style-type: square;
}
.left-column {
	width: 620px;
	float: left;
}

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: black;
 
	
}

/*set background color*/
div , p{
	background-color: #eee;
	
}

/*div {
	border: 1px solid black;
}*/

/*set image with caption, alt and title*/
.img-caption{
	display: block;
	margin: 6px:
	text-align: center;
}

.img-caption img{
	display: block;
	margin: 0:;
}

.img-caption figcaption{
	font-size: 10px;
	text-align: center
}

/*Create button to open to Hofstra.edu*/
.click-me{
	font: 16px;
	background-color: white;
	border: none;
	text-decoration: none;
	cursor: pointer;
}
.click-me:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}

/*add a hiding box "Coming Soon"*/
.coming-soon{
	display: none;
}

/* make a heightand scorll for footer* version 1.0*/
 .container{
	height: 200px:
	width: 960px;
	overflow: scroll;
}
